header {
    backdrop-filter: blur(12px);
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
    background: rgb(255 255 255 / 80%);
    border-bottom: 1px solid var(--color-slate-200);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;
      padding-block: calc(var(--spacing) * 4);
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.logo .brand_mark {
    width: 38px;
    height: 38px;
    border-radius: .65rem;
    display: grid;
    place-items: center;
      background: linear-gradient(
    -45deg,
    #3b82f6,
    #22d3ee
  );
    color: white;
    font-weight: 800;
    font-size: 1.8rem;
}
.logo .text {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 1.8rem;
  white-space: nowrap;
}

.navLinks {
  font-family: var(--font-poppins);
  display: flex;
  gap: calc(var(--spacing) * 8);
  list-style: none;
}

.link {
  font-family: var(--font-sans);
  text-decoration: none;
  color: var(--muted);
  transition: color 0.2s ease;
  font-size: var(--text-sm);
  font-weight: 500;
}

.link:hover {
  color: var(--text);
}

@media (max-width:768px) {
  .navbar {
    padding: 1.6rem;
  }
  .navLinks {
    display: none;
  }
   [dir="rtl"] .logo .text {
  font-size: 1.5rem;
  }
}

.navActions {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.langBtn {
  background: transparent;
  border: 1px solid var(--color-slate-200);
  color: var(--text);
  border-radius: 2rem;
    font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-sans);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  transition: all 0.2s ease;
}

.langBtn:hover {
  background: var(--color-cyan-50);
  border-color: var(--color-cyan-500);
  color: var(--color-blue-600);
}

.langIcon {
  color: var(--muted);
  transition: color 0.2s ease;
}

.langBtn:hover .langIcon {
  color: var(--color-blue-600);
}